.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  color: white;
  font-size: 1.25rem;
  margin: 0;
  padding: 1rem;
}
.App-body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
